/* CSS layout Form */
table{
    border-color: salmon;
    background-color: white;
    margin: auto;/*căn chỉnh table vào giữa*/
    border: solid blue;
    border-style: double;
}
input:required:invalid{
    color: red;
}
input:required:valid{
    color: blue;
}
td{
    color: black;
}
textarea{
    width: 300px;
    height: 70px;
}
button{
    font-weight: bold;
    border-radius: 15px;
    border: solid;
    border-style: double;
}
/* CSS Layout Web */
h1{
    text-align: center;
    background-color: forestgreen;
    color: ghostwhite;
    height: 50px;
    margin-top: 10px;
    font-size: 35px;
    padding-top: 7px; /*căn vị trí text trong khung*/
}
ul{
    background-color: lightskyblue;
    border: solid black;
    border-width: medium;
    border-left: none;
    border-right: none;
    text-align: center;
    list-style-type: none;
    overflow: hidden; /*tự động chỉnh background*/
}
li{
    float: left; /*chỉnh menu nằm ngang*/
    padding: 20px;
    width: 250px;
}
li a{
    font-size: 30px;
    text-decoration: none;
}
li:hover{/*không có dấu cách space*/
    background-color: greenyellow;
}
body{
    background-color: lightskyblue;
}
/* Chỉnh ảnh background */
.p1{

    text-align: center;
    margin-top: 370px;
    font-weight: bolder;
}
@media only screen and (max-width: 800px){
    li{
        float: left;
        width: 50%;
    }
    .p1{
        text-align: center;
        margin-top: 250px;
    }
    li:hover{
        background-color: goldenrod;
    }
}